ul h3 {
	list-style:none;
	cursor: pointer;
    position: relative;
	
}
.defaultTextBox {
    font-style: italic;
    font-family:cursive ;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
	width: 526px;
    margin-right: -4px;
}

ul h3.checked {
  text-decoration: line-through;
  
  
}

#addTask:hover {
    background-color: #76e47a; /* Green */
    color: aliceblue;
}

#clearTasksCompleted:hover{
	background-color: #dc564c;; /* Red */
    color: aliceblue;
}

#clearTasks:hover{
	background-color: #dc564c;; /* Red */
    color: aliceblue;
}



.button {
    background-color: #e7e7e7; 
    border: none;
    color: #008CBA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:5px;
}
#taskUL{
    text-align: left;
}
#taskInput,#addTask,#clearTasks,#clearTasksCompleted {
    font-style: italic;
    font-family:cursive ;
    text-align: center;
    border:none;
    border-radius: 10px;
}

ul h3.checked::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #76e47a;
    border-width: 0 2px 2px 0;
    top: 1px;
    left: -14px;
    transform: rotate(45deg);
    height: 14px;
    width: 5px;
}
	
body {
    font-style: italic;
    font-family:cursive ;
    text-align: center;
    min-width:400px;
	min-height:200px;
	background:url("b1.png");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}